main{
    background-color: rgb(5, 14, 5);
    margin: 0 auto;
    text-align: center;
}
img{
    width: 50%;
        text-align: center;
}
body{
    font-size: 1em;
    text-align: center;
    background-color: black;
    color: chartreuse;
}
#green{
    background-color: rgb(6, 19, 6);
}
p{
    color: chartreuse;
    text-align: center;
    margin: 0 auto;
}
footer p{
    color: black;
}
a:hover{
    background-color: chartreuse;
    color: black;
}
a{
    color: chartreuse;
}